<!DOCTYPE html>
<html>
<head>
    <title>Exam Stress Chatbot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="home-body">

    <div class="home-container">
        <h1>🎓 Welcome to Exam Stress Support Chatbot</h1>
        <p>
            Your personal AI companion to help you manage exam stress,
            stay confident, and prepare calmly.
        </p>

        <div class="home-buttons">
            <a href="/register" class="home-btn">Register</a>
            <a href="/login" class="home-btn secondary">Login</a>
        </div>
    </div>

</body>
</html>